body {
  background-color: #333;
  color: white;
  font-size: 1.4rem;
}

.navbar {
  opacity: 100%;
}

.navbar-brand h3 {
  color: white;
  font-size: 1.7rem;
  font-weight: 700;
}

.navbar .nav-link {
  color: white;
  font-size: 1.5rem;
}

#home-section {
  min-height: 100vh;
}

#home-section .hero {
  padding-top: 600px;
}

#album-promo {
  border: 5px orange solid;
  border-radius: 7px;
  height: 350px;
  margin: 25px;
  background-color: #222;
}

#about-section .about-bingo {
  width: 200px;
  height: auto;
}
